<h1 class="text-2xl font-bold mb-4"><%= @blog_post.title %></h1>
<p class="text-gray-500 mb-4"><%= @blog_post.created_at.strftime('%B %d, %Y') %></p>
<div class="prose"><%= @blog_post.body %></div>
<% if admin_signed_in? %>
  <div class="mt-4">
    <%= link_to 'Edit', edit_admin_blog_post_path(@blog_post), class: 'text-blue-600 hover:underline mr-4' %>
    <%= link_to 'Delete', admin_blog_post_path(@blog_post), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'text-red-600 hover:underline' %>
  </div>
<% end %>
<%= link_to 'Back to posts', blog_posts_path, class: 'text-blue-600 hover:underline mt-4 inline-block' %>